<a href="https://colab.research.google.com/github/Tushar-git081/New_Project/blob/main/Assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 4

In [1]:
import pandas as pd
import requests

In [20]:
df=pd.DataFrame(response.json()['results'])

In [21]:
df.head(3)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/ebyxeBh56QNXxSJgTnmz7fXAlwk.jpg,"[28, 878, 12]",1242898,en,Predator: Badlands,"Cast out from his clan, a young Predator finds...",515.7289,/pHpq9yNUIo6aDoCXEBzjSolywgz.jpg,2025-11-05,Predator: Badlands,False,7.784,1397
1,False,/gQimJqYMKCkwHIo8wwYKhmnCfBr.jpg,"[28, 80, 53]",1242501,en,Icefall,A young Indigenous game warden arrests an infa...,355.7124,/5Byv6nznAb2Izd0gHpODOXnuSbo.jpg,2025-10-16,Icefall,False,6.800,69
2,False,/iN41Ccw4DctL8npfmYg1j5Tr1eb.jpg,"[878, 12, 14]",83533,en,Avatar: Fire and Ash,In the wake of the devastating war against the...,306.2761,/dpM7UpTlRe3mgDF4lLkIdTYd0gs.jpg,2025-12-17,Avatar: Fire and Ash,False,7.400,1428

In [22]:
df=df[['id','title','release_date','vote_average','popularity','original_title','adult','overview']]

In [23]:
df.head(2)

,id,title,release_date,vote_average,popularity,original_title,adult,overview
0,1242898,Predator: Badlands,2025-11-05,7.784,515.7289,Predator: Badlands,False,"Cast out from his clan, a young Predator finds..."
1,1242501,Icefall,2025-10-16,6.800,355.7124,Icefall,False,A young Indigenous game warden arrests an infa...

In [24]:
df.shape

(20, 8)

In [30]:
final_df=pd.DataFrame()
for i in range(1,501):

  url=f'https://api.themoviedb.org/3/movie/popular?api_key=79c5e36ff918f00651042746091eb113&language=en-US&page={i}'.format(i)
  headers={
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3OWM1ZTM2ZmY5MThmMDA2NTEwNDI3NDYwOTFlYjExMyIsIm5iZiI6MTc2ODQ2MDAwNi41MTMsInN1YiI6IjY5Njg4ZWU2OWU5OTEyYzJlZjA3OGFjMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9cP91-3FY1t98W3N7W0Gqdha-mkdaunUHoA1euhJF8Y",
    "accept": "application/json"
  }

  response = requests.get(url, headers=headers)
  df=pd.DataFrame(response.json()['results'])
  df=df[['id','title','release_date','vote_average','popularity','original_title','adult','overview']]
  final_df=pd.concat([final_df,df],ignore_index=False)

In [31]:
final_df.shape

(10000, 8)

In [32]:
final_df.to_csv('tmdb_movies.csv')

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 19
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   title           10000 non-null  object
 2   release_date    10000 non-null  object
 3   vote_average    10000 non-null  float64
 4   popularity      10000 non-null  float64
 5   original_title  10000 non-null  object
 6   adult           10000 non-null  bool
 7   overview        10000 non-null  object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 634.8+ KB